@font-face {
  font-family: 'Nolde';
  src: url('../fonts/Nolde-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nolde outline';
  src: url('../fonts/Nolde-Outline.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 10px;
}
h1 {
  font-size: 38px;
  line-height: 44px;
  margin-top: 20px;
}
h2 {
  font-size: 32px;
  line-height: 36px;
  margin-top: 20px;
}
h3 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
}
h4 {
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px;
}
h5 {
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
}
h6 {
  font-size: 12px;
  line-height: 18px;
  margin-top: 10px;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}
blockquote {
  margin: 0 0 10px 0;
  padding: 10px 20px;
  border-left: 5px solid #E2E2E2;
  font-size: 18px;
  line-height: 22px;
}
figure {
  margin: 0;
  margin-bottom: 10px;
}
figcaption {
  margin-top: 5px;
  text-align: center;
}
ul,
ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
}

.pf-block, .pf-hero_grid_block {
  transition: 0.2s;
}

.pf-block:hover, .pf-hero_grid_block:hover {
  opacity: 70%;
}

.layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.body {
  background-color: #080806;
  font-family: Inter, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.18px;
}

.wrapper {
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  -o-object-fit: fill;
  object-fit: fill;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.logo {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
  font-family: Nolde, sans-serif;
  color: #fff;
  font-size: 48px;
  line-height: 48px;
  text-decoration: none;
  cursor: none;
}

.header-navigation {
  margin-top: 24px;
  margin-right: 40px;
  margin-left: 40px;
}

.header {
  position: relative;
  z-index: -2;
  max-height: 720px;
  min-height: 720px;
  margin-top: 8px;
  margin-right: auto;
  margin-left: auto;
}

.video {
  position: relative;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  width: 720px;
  height: 720px;
  margin-right: auto;
  margin-left: auto;
  float: none;
  clear: none;
}

.about {
  max-width: 882px;
  margin: 32px auto 128px;
}

.title {
  width: 900px;
  margin-top: 24px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(130deg, #f07 31.599999999999994%, #05f 62.78%);
  font-family: 'Nolde outline', sans-serif;
  color: #fff;
  font-size: 72px;
  line-height: 72px;
  text-align: center;
  -webkit-column-count: 0;
  column-count: 0;
  white-space: normal;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-p {
  font-family: Inter, sans-serif;
  font-size: 34px;
  line-height: 38px;
  font-weight: 600;
  letter-spacing: -0.7px;
}

.portfolio {
  margin-top: 128px;
}

.pf-grid {
  margin-top: 10px;
  grid-auto-flow: row;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr;
}

.pf-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 535px;
  min-width: 535px;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  background-color: #151515;
  text-decoration: none;
}

.pf-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  font-family: Inter, sans-serif;
  font-size: 30px;
  line-height: 33px;
  font-weight: 500;
  letter-spacing: -0.64px;
  white-space: normal;
  color: #fff;
}

.thumbnail-image-of-pf {
  position: static;
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 400px;
}

.pf-thumbnail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  white-space: normal;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.pf-hero {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(34.56%, #09bfde), to(#96d9e6));
  background-image: linear-gradient(180deg, #09bfde 34.56%, #96d9e6);
}

.pf-hero-h1 {
  max-width: 1080px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  font-family: Inter, sans-serif;
  font-size: 64px;
  line-height: 64px;
  font-weight: 600;
  text-align: center;
  letter-spacing: -1.43px;
}

.pf-wrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-auto-rows: auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: "."
    "Area";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border: 1px none #000;
}

.pf-thumbnail_bottom {
  position: relative;
  bottom: -20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.thumbnail-image-of-pf-to-bottom {
  position: static;
  bottom: -20px;
  max-width: 375px;
}

.pf-hero_content {
  display: block;
  max-width: 1080px;
  margin-top: 96px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
}

.pf-hero_footer-image {
  display: block;
  width: 100%;
  margin-top: 96px;
}

.footer {
  margin-top: 256px;
}

.pf-hero_grid {
  margin-top: 36px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.pf-hero_grid_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 535px;
  height: 535px;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: hsla(0, 0%, 100%, 0.2);
  text-decoration: none;
  color: #fff;
}

.hero_grid_block_title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 500;
  letter-spacing: -0.79px;
}

.hero_grid-block_bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.gradient {
  position: absolute;
  left: 0%;
  top: -5%;
  right: 0%;
  bottom: auto;
  z-index: -1;
  display: block;
  max-width: 100%;
}

.img-gr {
  position: static;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  display: block;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 0%;
  object-position: 50% 0%;
}

.pf-thumbnail_right-bottom {
  position: relative;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  clear: both;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.interface-thumbnail {
  position: absolute;
  left: auto;
  top: auto;
  right: -20px;
  bottom: -20px;
  width: 400px;
}

.footer-man {
  display: block;
  max-width: 410px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1920px) {
  .gradient {
    display: block;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: start;
    -ms-flex-line-pack: start;
    align-content: start;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 991px) {
  .wrapper {
    max-width: 720px;
  }

  .header-navigation {
    margin-top: 32px;
    margin-right: 24px;
    margin-left: 24px;
  }

  .header {
    max-height: 512px;
    min-height: 512px;
  }

  .video {
    width: 512px;
    height: 512px;
  }

  .title {
    width: auto;
    font-size: 56px;
    line-height: 58px;
  }

  .about-p {
    font-size: 28px;
    line-height: 34px;
  }

  .pf-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: minmax(auto, 355px) auto;
    grid-template-rows: minmax(auto, 355px) auto;
  }

  .pf-block {
    min-height: 355px;
    min-width: 355px;
  }

  .pf-title {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.33px;
  }

  .thumbnail-image-of-pf {
    max-width: 240px;
  }

  .pf-hero-h1 {
    max-width: 720px;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.89px;
  }

  .thumbnail-image-of-pf-to-bottom {
    max-width: 240px;
  }

  .pf-hero_content {
    max-width: 720px;
    margin-top: 72px;
  }

  .footer {
    margin-top: 170px;
  }

  .pf-hero_grid {
    margin-top: 24px;
  }

  .pf-hero_grid_block {
    width: 355px;
    height: 355px;
  }

  .hero_grid_block_title {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.3px;
  }

  .custom-thumbnail {
    max-width: 256px;
  }

  .footer-man {
    max-width: 300px;
  }
  .interface-thumbnail {
    width: 220px;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    max-width: 520px;
  }

  .logo {
    font-size: 40px;
    line-height: 40px;
  }

  .header {
    max-height: 384px;
    min-height: 384px;
  }

  .video {
    width: 384px;
    height: 384px;
  }

  .about {
    margin-top: 24px;
    margin-bottom: 96px;
  }

  .title {
    font-size: 40px;
    line-height: 42px;
  }

  .about-p {
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    letter-spacing: -0.33px;
  }

  .pf-grid {
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .pf-block {
    min-height: 255px;
    min-width: 255px;
  }

  .pf-title {
    font-size: 16px;
    line-height: 19px;
  }

  .thumbnail-image-of-pf {
    max-width: 156px;
  }

  .pf-hero-h1 {
    max-width: 520px;
    font-size: 32px;
    line-height: 34px;
  }

  .thumbnail-image-of-pf-to-bottom {
    max-width: 156px;
  }

  .pf-hero_content {
    max-width: 520px;
    margin-top: 56px;
  }

  .pf-hero_footer-image {
    margin-top: 64px;
  }

  .footer {
    margin-top: 128px;
  }

  .pf-hero_grid {
    margin-top: 16px;
  }

  .pf-hero_grid_block {
    width: 255px;
    height: 255px;
  }

  .hero_grid_block_title {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.33px;
  }

  .custom-thumbnail {
    max-width: 156px;
  }

  .footer-man {
    max-width: 256px;
  }
  .interface-thumbnail {
    width: 172px;
  }
}

@media screen and (max-width: 479px) {
  .wrapper {
    max-width: 300px;
  }

  .logo {
    font-size: 32px;
    line-height: 32px;
  }

  .header-navigation {
    margin-right: 20px;
    margin-left: 20px;
  }

  .header {
    max-height: 256px;
    min-height: 256px;
  }

  .video {
    width: 256px;
    height: 256px;
  }

  .title {
    font-size: 32px;
    line-height: 34px;
  }

  .about-p {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.26px;
  }

  .pf-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .pf-block {
    min-height: 300px;
    min-width: 300px;
  }

  .pf-title {
    font-size: 18px;
    line-height: 20px;
  }

  .thumbnail-image-of-pf {
    max-width: 200px;
  }

  .pf-hero-h1 {
    font-size: 24px;
    line-height: 25px;
  }

  .thumbnail-image-of-pf-to-bottom {
    max-width: 200px;
  }

  .pf-hero_content {
    max-width: 300px;
    margin-top: 64px;
  }

  .pf-hero_grid {
    margin-top: 24px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .pf-hero_grid_block {
    width: 300px;
    height: 300px;
  }

  .custom-thumbnail {
    max-width: 200px;
  }
  .interface-thumbnail {
    width: 200px;
  }
}

